$basic-bg: #fff;
$basic-color: #333;
$basic-border: #ddd;
$header-height: 45px;
$default-width: 960px;

:root {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: $default-width;
  margin: 0 auto;
  background: $basic-bg;
}

li, p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

main {
  padding: $header-height 40px;
}

.main-content {
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #333;
  box-shadow: 0px 0px 1px 0px #00000080;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    max-width: $default-width;
    padding: 0 30px;
    margin: 0 auto;
  }

  .header-title {
    font-size: 18px;
    color: $basic-bg;
  }

  .header-link {
    color: $basic-bg;
    padding: 5px;

    + .header-link {
      margin-left: 10px;
    }

    &.active {
      border-bottom: 2px solid #fff;
    }
  }
}

/* markdowm */
.blog-post {
  padding-top: 20px;

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  code.language-text {
    color: #bf0207;
    background: none;
  }

  table {
    border-collapse: collapse;
    background: rgba(255, 255, 2555, .8);
  }

  thead {
    background: #ffe1e1;
  }

  tr {
    border-bottom: 1px solid $basic-border;
  }

  th, td {
    padding: 10px 16px;
    text-align: left;
  }

  img {
    max-width: 100%;
  }
}

.post-list {
  margin: 0;
  padding: 0;
  color: $basic-color;
}

/* PostItem */
.post-item {
  list-style-type: none;
  border-bottom: 1px solid #efefef;
}

.post-item-link {
  font-size: 1.5rem;
  color: inherit;
}

.post-item-date {
  color: #888;
}

.post-item-content {
  padding: 10px 0;
  letter-spacing: .5px;
}

/* list-all (posts & tags) */
.list-all-item-link {
  color: $basic-color;
  &:hover {
    text-decoration: underline;
  }
}

.list-all-item-date {
  margin-right: 20px;
}