$basic-bg: #fff;
$basic-color: #333;
$basic-border: #ddd;
$header-height: 3rem;
$default-width: 960px;

* {
  font-size: 15px;
}

body {
  max-width: $default-width;
  margin: 0 auto;
  background: $basic-bg;
}

li, p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

main {
  padding-top: $header-height;
}

.main-content {
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #333;
  box-shadow: 0px 0px 1px 0px #00000080;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    max-width: $default-width;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .header-title {
    font-size: 18px;
    color: $basic-bg;
  }

  .header-link {
    color: $basic-bg;

    + .header-link {
      margin-left: 10px;
    }
  }
}

.post-list {
  color: $basic-color;
  a {
    color: inherit;
  }
}

/* markdowm */
.blog-post {
  h1 {
    font-size: 42px;
  }

  code.language-text {
    color: #bf0207;
    background: none;
  }

  table {
    border-collapse: collapse;
    background: rgba(255, 255, 2555, .8);
  }

  thead {
    background: #ffe1e1;
  }

  tr {
    border-bottom: 1px solid $basic-border;
  }

  th, td {
    padding: 10px 16px;
    text-align: left;
  }

  img {
    max-width: 100%;
  }
}

